@use "../abstracts/mixins" as *;

.container {
  width: 100%;
  margin-block: 10rem;
}

.container-flex {
  width: 100%;
  margin-block: 5rem;
  @include flex(flex, none, space-between, center);
}

.container-grid {
  @include grid();
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
  margin-top: 3rem;
}

.container-flex-clmn {
  width: 100%;
  margin-block: 10rem;
  @include flex(flex, column, space-between, center);
}

@include desktop(768px) {
  .container-flex {
    @include grid(space-between, center);
  }

  .container-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 6rem;
  }
}
