@use "../abstracts/mixins" as *;

.main-heading {
  @include flex(flex, column, center, center);
  margin-top: 5rem;
}

.main-heading h3 {
  margin-top: 3rem;
}

.logos {
  max-width: 800px;
  @include flex(flex, row, space-between, center);
  width: 100%;
}

.arrow {
  margin-left: 2.5rem;
}

.btn {
  padding: 1rem;
  border: none;
  border-radius: 40px;
  background-color: #ff8906;
  border: 3px solid #ff8906;
  transition-duration: 0.4s;
}

.btn:hover {
  cursor: pointer;
  animation: changeBck;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.btn a {
  color: #fff;
  text-transform: uppercase;
  font-weight: var(--font-weight-bold);
  font-size: 16px;
  margin-inline: 10px;
}

.btn-invite {
  margin-top: 3.5rem;
}

.btn-invite:hover {
  background-color: inherit;
}

p.arrow {
  font-size: 200px;
  color: #fc9842;
}
